#mtpayment.payment_module,
#mtpayment .payment_module {
    text-align: center;
}

.payment_module .mtpayment-submit,
.cart_navigation .mtpayment-submit {
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 6px;
    background-color: #077FCB;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25), 0px 0px 5px rgba(255, 255, 255, 0.21) inset;
    border: 1px solid #177DBD;
    background-image: linear-gradient(to top, rgba(24, 24, 25, 0.05), rgba(255, 255, 255, 0.05));
    line-height: 30px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    color: #FFF;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
}

.payment_module .mtpayment-submit:hover,
.cart_navigation .mtpayment-submit:hover {
    text-decoration: none;
    background-color: #0B8FE3 !important;
    border-color: #0B8FE3 !important;
    background-image: linear-gradient(to top, rgba(24, 24, 25, 0.05), rgba(255, 255, 255, 0.05));
}
